parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: supla
    database_user: supla
    database_password: {{ supla_database_password }}
    mailer_transport: {{ supla_mailer_transport }}
    mailer_host: {{ supla_mailer_host }}
    mailer_user: {{ supla_mailer_user }}
    mailer_password: {{ supla_mailer_password  }}
    mailer_port: {{ supla_mailer_port  }}
    mailer_encryption: {{ supla_mailer_encryption  }}
    mailer_from: {{ supla_mailer_from  }}
    admin_email: {{ supla_admin_email }}
    supla_server: {{ supla_server  }}
    supla_server_list: {{ supla_server_list }}
    ewz_recaptcha_public_key: {{ supla_ewz_recaptcha_public_key  }}
    ewz_recaptcha_private_key: {{ supla_ewz_recaptcha_private_key  }}
    locale: {{ supla_locale }}
    secret: {{ supla_secret }} 
